/* главная шапка навигация */
.nav-links .menu {
    margin-right: 50px;

    & .link:hover,
    & .link:focus {
        color: $accent-color;
    }   
}

/* header */
.container-block {
    /*display: flex;*/
    width: 1200px;
}


.container-nav {
    @media screen and (min-width: 480px) and (max-width: 767px) {   
        /*display: flex;
        flex-wrap: wrap;
        justify-content: flex-start ;*/
        width: 480px;
        height: 453px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px)  {
        width: 768px;
        height: 80px;
    }
    @media screen and (min-width: 1200px) {

    }
  
}
/* header */
.logotype {
    @media screen and (min-width: 480px) and (max-width: 767px)  {
        margin: 0;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px)  {  
    
    }
    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        position: relative;
        margin-left: 215px;
        margin-right: 85px;
    }

    display: flex;
    width: 153px;
    padding-left: 0px;
    margin-right: 85px;
    text-decoration: none;
    font-weight: 700;
    align-self: center;
}
/* header */
.logo {
    @media screen and (min-width: 480px) and (max-width: 767px) {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-right: 5px;
    }
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;   
    letter-spacing: 0.03em;   
    color: $accent-color;      
}
/* header */
.log {
    @media screen and (min-width: 480px) and (max-width: 767px) {
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 0;                  
    }
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 85px;
    margin-left: 5px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;   
    letter-spacing: 0.03em;   
    color: $dark-color;   
}

.nav-links {
    @media screen and (min-width: 480px) and (max-width: 767px)  {
        display: block;
        margin: 0;
        position: absolute;
        left: 43%;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px)  {
        display: flex;
        position: absolute;
        left: 30%;
        top: 0;
    }
    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        display: flex;
        position: relative;
        left: 100%;
        top: -80px;
        
    }
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;    
    color: $dark-color; 
    align-self: center;      
    & .link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.nav-links .menu {
    margin-right: 50px;
}

.nav-links .menu:last-child {
    margin-right: 0;
}

.adr {
    display: flex;
    justify-content: start;
    
    @media screen and (min-width: 480px) and (max-width: 767px)   {
        display: block;
        margin: 0;
        /*align-items: center;*/
        position: absolute;
        top: 355px;
        left: 36%;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px)   {                
        display: flex;
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {                
        margin-left: 305px;
    }        
}

.pin {
    @media screen and (min-width: 768px) and (max-width: 1199px)   {
        position: absolute;        
        top: 1px;
        right: 2px;
        margin-right: 15px;
        margin-bottom: 5px;
        margin-top: 21px;
        padding: 0;
        letter-spacing: 0.1em;
    }
    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        /*display: flex;
        align-items: center;
        justify-content: space-between;*/
        position: absolute;
        top: 1px;
        right: 11%;
        padding-top: 32px;
        padding-right: 0;
        padding-bottom: 32px;
        margin-right: 5px;
        color: $dark-color;
        text-decoration: none;
        cursor: pointer;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    }
   /* display: flex;
   align-items: center;
   justify-content: space-between;*/
    padding-top: 32px;
    padding-right: 0;
    padding-bottom: 32px;
    margin-right: 60px;
    color: $dark-color;
    text-decoration: none;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.key {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        position: absolute;
        top: 40px;
        right: 0;
        margin-right: 30px;
        margin-top: 5px;
        margin-bottom: 21px;
        padding: 0;
    }
    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        position: absolute;
        top: 1px;
        right: 0;
    }
    display: flex;
    align-items: center;
    color: $dark-color;
    text-decoration: none;
    cursor: pointer;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 0;
    margin-right: 0;   
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}


.pin::before {
    content: "";
    height: 11px;
    background-image: url("./images/symbol-defs.svg#icon-envelope");
    background-size: contain;
}


.key::before {
    content: "";
    height: 15px;
    background-image: url("./images/symbol-defs.svg#icon-smartphone");
    background-size: contain;
}
/* header */
.pin:hover,
.pin:focus {
   fill: $accent-color;
   color: $accent-color;
}
/* header */
.key:hover,
.key:focus {
    fill: $accent-color;
    color: $accent-color;
}
/* header */
.adr-icon {
    margin-right: 10px;

}
/* header */
.tel-icon {
    margin-right: 10px;
}
/* header */
.let {
    margin-right: 10px;
}
/* header */
.smart {
    margin-right: 10px;
}
/* header */
.adr .adr-mail,
.adr .adr-tel {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;   
    color: $main-color;        
}
.line {
    @media screen and (min-width: 480px) and (max-width: 767px)  {
        margin: 0;
    }
    width: 100%;
    color: $main-color;
    height: 0,5px;
    margin-bottom: 93px;
    background-color: $main-color;
    margin-top: 0;
}