.section2 {
    display: inline-block;
    width: 1200px;
}

.line {
    width: 100%;
    color: $main-color;
    height: 0,5px;
    margin-bottom: 93px;
    background-color: $main-color;
    margin-top: 0;
}