 
.costumer {
    width: 1200px;
}

.topic2 {
    padding-top: 94px;
    padding-bottom: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $dark-color;
}
 
.costumer-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 94px;
    fill: currentColor;
}

.all-costumer {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;
    margin-right: 30px;
    fill: $light-gray;
    border: 1px solid $light-gray;
    box-sizing: border-box;
    border-radius: 4px;
    &:nth-child(6n) {
        margin-right: 0;
    }
}

.all-costumer:hover,
.all-costumer:focus {
    fill: $accent-color;   
    border: 1px solid $accent-color;
    color: $accent-color;  
}