/* наша команда */
.grey-background {
    background: $white-button;
    width: 100%;
    margin: auto;
}
/* наша команда */
.our-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width: 480px) {
        margin-bottom: 60px;
    }
    @media screen and (min-width: 768px) {
        margin-bottom: 60px; 
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 94px;
    }
}
/*наша команда*/
.container-team {
   /* width: 1200px;for mob*/
    width: 100%;
}
/*наша команда*/
.topic3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $dark-color;

    @media screen and (min-width: 480px) and (max-width: 767px) {
        font-size: 28px;
        padding-top: 60px;
        padding-bottom: 30px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        font-size: 28px;
        padding-top: 60px;
        padding-bottom: 30px;                        
    }
    
    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        font-size: 36px;
        padding-top: 94px;
        padding-bottom: 50px;                        
    }
}
/*наша команда*/
.all-team {
    /*width: 270px;*/
    @media screen and (min-width: 480px)  {
        width: 450px;
        text-align: center;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 768px)  { 
        width: calc((100% - 15px * 4) / 2);               
               
    }
    
    @media screen and (min-width: 1200px)  { 
        width: 270px;               
        margin-right: 30px;
        margin-bottom: 60px;
    }    
    box-shadow: 0px 1px 3px $light-shadow-1,
                 0px 1px 1px $light-shadow-2,
                  0px 2px 1px $light-shadow-3;
    border-radius: 0px 0px 4px 4px;
}
/*наша команда*/
.all-team:nth-child(4n) {
    margin-right: 0;
}
/*наша команда*/
.team-photo {
    width: 100%;
    padding-bottom: 30px;
}
/*наша команда*/
.chapter3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $dark-color;
    margin-bottom: 10px;
}
/*наша команда*/
.rubric1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-color;
    margin-bottom: 16px;
}
/*наша команда*/
.social-links-team {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
    width: 206px;
    margin-bottom: 24px; 
}


.links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: $main-color;
    &:hover,
    &:focus {
        fill: $white-color;
        background-color: $accent-color;
    }   
}