/*уникальный контент страницы*/
.gray-fill {   
    /*max-width: 1600px;*/
    
    @media screen and (min-width: 480px) and (max-width: 767px) {
        height: auto;
        margin-bottom: 60px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {                
        height: auto;
        margin-bottom: 60px;
    }
    
    @media screen and (min-width: 1200px) and (max-width: 1600px) {                
        height: auto;
        margin-bottom: 94px;
    }
    
    margin-right: auto;
    margin-left: auto; 
    background-image: linear-gradient(
        $gray-fill,
        $gray-fill
    ),                        
    url("../images/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

/*уникальный контент страницы*/
.main-content { 
    @media screen and (min-width: 480px) and (max-width: 767px) {
        width: 100%;
        margin-top: 118px;
        margin-right: auto;
        margin-left: auto;    
        font-size: 26px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {                
        width: 360px;
        height: auto;
        margin-top: 118px; 
        margin-bottom: 30px;      
        margin-right: auto;
        margin-left: auto;
        line-height: 42px;
        font-size: 26px;
    }
    
    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        position: relative;
        left: 27%;
        width: 696px;
        margin-top: 200px;
        margin-bottom: 30px;
        margin-right: 0;
        margin-left: 0;
        line-height: 60px;        
        font-size: 44px; 
    }  
               
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;    
   
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-color;
}
/*уникальный контент страницы*/
.order-button {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 118px;
    }
    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        position: relative;
        left: 25%;
        margin-bottom: 200px;
    }   
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    border-radius: 4px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 200px;/* 200 от края картинки*/
    margin-left: auto;     
    min-width: 200px;    
    background-color: $accent-color;
    transition: transform 250ms $timing-function;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: $white-color;   
}
/* уникальный контент страницы */
.content {
    
    @media screen and (min-width: 480px) and (max-width: 767px) {
        width: 100%;
        text-align: center;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {                      
        width: 100%;        
        height: auto;
        text-align: center;
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {                
        width: 100%;
        text-align: center;
    }   
}

.title-works {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-color;
}