/*подписка*/
.form-sub {
    display: flex;
    flex-direction: column;
    margin-top: 72px;
    margin-right: 215px;
    margin-bottom: 94px;
}
/*стилизация подписки*/

.foot-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 108px;
    margin-right: 215px;
    margin-bottom: 94px;
    height: 50px;
    width: 200px;
    color: $white-color;
    background-color: $accent-color;
    transition: transform 250ms $timing-function;
    border-radius: 4px;
    padding: 10px 28px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;


    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

}
/**/
.form-label-foot {
    top: 0;
    left: 823px;
    width: 219px;
    margin-top: -14px;
    margin-top: 72px;
    margin-bottom: 20px;
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
}
/*кнопка отправки в подписке*/
.form-input-foot {
    position: absolute;
    top: 0;
    right: 26%;
    width: 350px;
    height: 50px;
    padding: 16px;
    margin-top: 108px;
    margin-right: 12px;
    margin-bottom: 94px;
    border-radius: 4px;
    border:1px solid $main-color;
    background: $dark-background;   
}
/*иконка в кнопке подписки*/
.btn-telega {
    right: 30px;
    top: 120px;

    right: 245px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("./images/symbol-defs5.svg#icon-telegblack");
    background-color: $accent-color;
}