/* футер */
.dark-background {
    position: relative;
    background: $dark-background;
    width: 1600px;
    height: 252px;
    margin: auto;
}
/*футер*/
.follow {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $dark-color;
}

/* футер */
.footer-content {
 
    display: flex;
    width: 1600px;
}
/* футер */
.footer-logotype {
    display: flex;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    margin-top: 60px;
    margin-bottom: 20px;
    letter-spacing: 0.03em;
}
/* футер */
.footer-logo {
    display: flex;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;   
    letter-spacing: 0.03em;   
    color: $accent-color;
}
/* футер */
.footer-log {
    display: flex;
    margin-left: 5px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;   
    letter-spacing: 0.03em;   
    color: $white-color; 
}
/* футер */
.footer-adr {
    display: flex;
    flex-direction: column;
    width: 270px;
    margin-right: 30px;
}
/*футер*/
.footer-adr-mail,
.footer-adr-tel {
    color: $main-color;
}
/* футер */
.adr-city{
    display: flex;
    flex-direction: column;
    width: 231px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-bottom: 60px;
}
/* футер */
.adr-city p {
    color: $white-color;
}
/* футер */
.footer-social {
    margin-top: 72px;
    width: 270px;
}
/* футер */
.follow {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    color: $white-color;
}
/* футер */
.social-links {
    display: flex;
    flex-direction: row;
    color: $white-color;
}
/* футер */ /* задаем отступы иконок*/
.footer-icon:not(:last-child) {
    margin-right: 10px;
}
/* футер */
.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: $main-color;
    border-radius: 50%;
}
/*футер*/
.footer-links:hover,
.footer-links:focus {
    fill: $white-color;
    background-color: $accent-color; 
}
/*футер*/
.footer-link {
    fill: $main-color;
    fill: $white-color;
}