/*особенности*/
.container-features {
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 480px) and (max-width: 767px) {
        width: 100%;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 768px;
    }
    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        width: 1200px;
    }

    
}

/*особенности*/
.title-features {

    @media screen and (min-width: 480px) and (max-width: 767px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        width: 1200px;
        padding: 0;
        margin-bottom: 94px;
        margin-top: 0;
        margin-right: auto;
        margin-left: auto; 
    }
}
/*особенности*/
.chapter1 {
    @media screen and (min-width: 480px) and (max-width: 767px) {
        margin-top: 30px;
        margin-bottom: 10px;
        text-align: center;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-top: 30px;
        margin-bottom: 10px; 
    }
    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        margin-top: 30px;
        margin-bottom: 10px;               
    }

}
/*особенности*/
.features {
    @media screen and (min-width: 480px) and (max-width: 767px) {
        width: 100%;
        padding: 15px;
        font-size: 14px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        /*flex-basis: calc((100% - 4 * 15) / 2);*/
        /*padding: 15px;*/
        width: 354px;
        font-size: 14px;
        margin: 5px;
    }
    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        padding: 0;
        margin-right: 30px;
    }


}
/*особенности*/
.features:nth-child(4n) {
    margin-right: 0;
}
/*особенности*/
.features-icon {
    display: flex;
    background-color: $white-button;
    height: 120px;
}

/*особенности*/
.icon {
    @media screen and (min-width: 480px) and (max-width: 767px) {
        border-radius: 4px;
        position: relative;
        top: 20%; 
        left: 12% ;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        border-radius: 4px;
        position: relative;
        top: 24px;
        left: 8%;
    }   
}

/*особенности*/
.rubric {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    letter-spacing: 0.03em;
    color: $main-color;
}

.topic {
    padding: 0;
    margin-bottom: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $dark-color;
}