/* портфолио проэкты */
.chapter {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;

    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $dark-color;
}

/* портфолио проэкты */
.list-of-projects {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 94px;
}
/* портфолио проэкты */
.elements-projects {
    position: relative;
    width: 370px;
    height: 404px;
    margin-right: 30px;
    margin-bottom: 30px;
    outline: 1px solid $white-color;
}
/*портфолио оверлей*/
.overlay {
    width: 370px;
    height: 294px;
    position: relative;
    overflow: hidden;
    opacity: 1;
}
/*портфолио оверлей*/
  .note  {
    position: absolute;
    margin: 0;   
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 64px 24px;
    font-size: 18px;
    line-height: 28px;
    color: $white-color;
    transition: all 250ms $timing-function;
    background-color: $accent-color; 
    transform: translateY(100%);
    opacity: 1;  
}
/* портфолио оверлей*/
 .ss:hover .note {  
    transform: translateY(0); 
}

/* портфолио проэкты */
.elements-projects:nth-child(3n) {
    margin-right: 0;
}
/* портфолио проэкты */
.elements-projects:nth-last-child(-n+3) {
    margin-bottom: 0;
}
/* портфолио проэкты */
.elements-projects:hover {
    box-shadow: 0 14px 28px $shadow-black-1, 0 10px 10px $shadow-black-2;
}
/* портфолио проэкты */
.block {
    width: 322px;
    height: 70px;
    margin: 20px 24px;
}
/* портфолио проэкты */
.block h3 {
    padding-top: 9px;
    padding-bottom: 9px;
    margin-bottom: 4px;
}
/* портфолио проэкты */
.block p {
    padding-top: 7px;
    padding-bottom: 7px;
}
