/*особенности*/
.container-features {
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 480px) {
        width: 100%;
    }
    @media screen and (min-width: 768px)  {
        width: 100%;
    }
    @media screen and (min-width: 1200px)  {
        width: 100%;
    }    
}

/*особенности*/
.title-features {

    @media screen and (min-width: 480px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    @media screen and (min-width: 768px)  {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
        max-width: 738px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        max-width: 1200px; 
        width: 100%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
    }  
}
/*особенности*/
.chapter1 {
    @media screen and (min-width: 480px)  {
        margin-top: 30px;
        margin-bottom: 10px;
        text-align: center;
    }
    @media screen and (min-width: 768px) {
        margin-top: 30px;
        margin-bottom: 10px; 
    }
    @media screen and (min-width: 1200px)  {
        margin-top: 30px;
        margin-bottom: 10px;               
    }
}
/*особенности*/
.features {
    @media screen and (min-width: 480px)  {
        width: 100%;
        padding: 15px;
        font-size: 14px;
    }
    @media screen and (min-width: 768px) {
        width: 100%;
        max-width: 354px;
        font-size: 14px;
        margin: 5px;
    }
    @media screen and (min-width: 1200px) {
        display: inline-block;
        .features:nth-child(4n) {
            margin-right: 0;
        }
        margin-right: 15px;       
        width: 270px;
        padding: 0;
        margin-bottom: 30px;
    }
}

/*.features:nth-child(4n) {
    margin-right: 0;
}*/


.features-icon {
    @media screen and (min-width: 480px)  {
        max-width: 450px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    @media screen and (min-width: 768)  {
        max-width: 450px;
        width: 100%;
    }
    @media screen and (min-width: 1200px)  {
        width: 100%;

    }
    display: flex;
    background-color: $white-button;
    width: 100%;
    height: auto;
}

/*особенности*/
.icon {
    @media screen and (min-width: 480px) {        
        position: relative;
        top: 20%; 
        left: 16% ;
    }
    @media screen and (min-width: 768px)  {        
        position: relative;
        top: 0px;
        left: 4%;
    }
    @media screen and (min-width: 1200px)  {
        position: relative;
        top: 26px;
        left: 0;
    } 
    border-radius: 4px;  
}

/*особенности*/
.rubric {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    letter-spacing: 0.03em;
    color: $main-color;
}

.topic {
    padding: 0;
    margin-bottom: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $dark-color;
}