html {
    box-sizing: border-box;
} 

*,
*::before,
*::after {
    box-sizing: inherit;
}
*{outline: 1px solid green;}


body {

    color: $dark-color;
    background-color: $white-color;
    max-width: 1600px;
    margin: auto;
    border: solid $main-color 1px;
}
ul {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

h2,h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $dark-color;
    margin: 0;
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $main-color;
    margin: 0;
}

/*для сброса точек перед списками*/
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* один для всех */
.container {
    display: flex;
    /*width: 1200px;*/
    width: 100%;
    /*padding-left: 15px;
    padding-right: 15px;*/
    margin-left: auto;
    margin-right: auto;   
}
/*эффект подчеркивания ссылки */

.link {
    display: block;
    position: relative;
    text-decoration: none;
    padding-bottom: 28px;
    color: currentColor;
 }
 /* эффект подчеркивания ссылки 1*/
 .link::after {
     content: "";
     display: block;
     position: absolute;
     width: 100%;
     height: 4px;
     left: 0;
     bottom: 0;
     
     background-color: $accent-color;
     opacity: 0;
     transition: opacity 250ms $timing-function;
 }

 /* эффект подчеркивания ссылки 1*/
 .link:hover::after {    
     display: block;
     opacity: 1;
     background-color: $accent-color;
     color: currentColor;
 }
 /*доп.класс для подчеркивания*/
.current {
     color: $accent-color;
 }
 /*доп.класс для подчеркивания*/
.current::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    
    background-color: $accent-color;
    opacity: 1;
    transition: opacity 250ms $timing-function;
 }