$accent-color: #2196F3;
$dark-color: #212121;
$main-color: #757575;
$white-color: #ffffff;

$white-button: #F5F4FA;
$dark-background: #2F303A;
$shadow-black-1: rgba(0, 0, 0, 0.25);
$shadow-black-2: rgba(0, 0, 0, 0.22);
$gray-fill: rgba(47, 48, 58, 0.8);
$light-shadow-1: rgba(0, 0, 0, 0.12);
$light-shadow-2: rgba(0, 0, 0, 0.14);
$light-shadow-3: rgba(0, 0, 0, 0.2);
$light-gray: #AFB1B8;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);